/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hidden{
    display: none;
}


/********************Header***********************/

@import url(http://fonts.googleapis.com/css?family=Roboto);

header{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #03a9f4;
    height: 20%;
    width: 100%;
}

header h1{
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.7em;
}

header img{
    position: absolute;
    top: 0;
    width: 2em;
    padding-top: 15px;
    right: 1%;
}

.pushLeft{
    left: 1%;
}

.pushRight{
    right: 15%;
}

/************************Player*********************/

#player{
    background-color: #FFFFFF;
}

.seekbar {
  margin: 12px 0;
  padding: 10px 24px;
  position: relative;
}

.seekbar-progress {
  height: 10px;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  border-radius: 6px;
}

.seekbar-progress [role="progressbar"] {
  height: 100%;
  position: relative;
  background: #4a99ad;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}

.seekbar-progress [role="progressbar"]:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -7px;
  right: -12px;
  background-color: #888;
  background-image: linear-gradient(to bottom, #ccc 0%, #888 100%);
  background-repeat: repeat-x;
  border: 1px solid #999;
  border-radius: 20px;  
}

.seekbar input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;
  outline: 0;
  border: 0;
}

.seekbar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  width: 48px;
  height: 48px;
  background-color: transparent;
}


/**************************List*********************/

ul{
    list-style: none;
}

ul img{
    width: 65px;
    float: left;
}

ul li{
    border: 1px solid #C9C9C9;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 5px 20px #cccccc;
    height: 70px;
}

ul h2{
    float: left;
    max-width: 70%;
    padding-left: 5px;
    color: #03a9f4;
}

.duration{
    color: #C9C9C9;
    font-size: 0.7em;
    margin-left: 70px;
    clear: both;
}
    

