<?xml version='1.0' encoding='utf-8'?>
<widget id="com.algonquincollege.podcastApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PodPro</name>
    <description>
        Assignment App for Mad9135. It plays podcasts and stuff
    </description>
    <author email="joeypelletier@live.com" href="">
        Joey Pelletier and Chad Maron
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
